body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(218, 205, 224);
    margin: 0;
    color: white;
}
nav {
    height: 10vh;
    max-width: 100%;
    background-color: rgb(29, 27, 27);
    display: flex;
    justify-content: space-around;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
}
.nav-brand {
    align-self: center;
    color: rgb(249, 250, 244);
    font-size: 25px;
    font-style: italic;

}
.nav-content {
    align-self: center;
}
.nav-content ul li{
    display: inline;
    text-decoration: none;
    margin-right: 10px;
}
.nav-content ul li a {
    text-decoration: none;
    color: rgb(230,240,180);
}
.nav-content ul li a:hover {
    background-color: rgb(115, 128, 71);
    padding: 10px;
    border-radius: 2px;
}
#heading-section {
    background-color:rgba(0, 0, 0, 0.5);
    padding-top: 10%;
}
#my-description {
    float: left;
    margin-left: 20%;
    margin-right: 100px;
    margin-bottom: 0;
}
#my-description p{
    font-family: monospace;
    font-size: 14px;
}
#my-description a {
    text-decoration: none;
    color: rgb(230,240,180);
    font-size: 18px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0,0.2);
    
}
#my-description a:hover {
    background-color: rgb(230,240,180);
    border-radius: 2px;
    color: black;
    font-size: 20px;
}
#project-section {
    background-color: rgb(255, 255, 255);
    color: darkred;
    display: flex;
    flex-direction: column;
}
#project-section h2{
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#project-section ul {
   margin-left: 200px;
}
#project-section ul li {
    display: inline;
    float: left;
    width: 20%;
    height: 250px;
    padding: 10px;
    border: 1px solid transparent;
    margin-right: 40px;
    position: relative;
    background-color: rgb(236, 232, 238);

}
#project-section ul li p {
    color: rgb(109, 83, 83);
}
.project-link {
    text-decoration: none;
    color: rgb(150, 65, 72);
    border: 1px solid;
    padding: 10px;
    margin-left: 30px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.project-link:hover {
    background-color: rgb(150, 65, 72);
    color: black;
    border-radius: 3px;
} 
#about-section {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    height: 40vh;
}
#about-section h1{
    align-self: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: rgb(46, 42, 42);
}
#about-section p {
    width: 35%;
    font-size: 18px;
    text-align: justify;
    margin-left: 30%;
}
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(150, 65, 72);
    height: 30vh;
}
#contact h1 {
    font-size: 30px;
    color: rgb(41, 39, 39);
}
#contact p {
    font-size: 20px;
}
